.container{
  display: flex;
  flex-direction: column;
  background-color: #F9FCFF;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 50%;
  height: 60%;
  padding: 2% 2%;
  border-radius: 7px;
  
}
.field_container{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;

}
.task_name{
  display: flex;
  gap: 5px;

}