.container{
  background-color: #17A2B8;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img{
  width: 80%;
  height:100%;
  margin-top: 1.5rem;
  margin-left: 0.9rem;
}
.circle{
  background-color: #317F8B;
  border: none;
  border-radius: 50%;
  width: 20%;
  height: 30%;
}